.change-password {
  display: flex;
  justify-content: center;

  &__container {
    flex: 1 1 auto;
    max-width: 315px;
  }

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__save {
    margin-top: 25px;

    &-btn {
      text-align: center;
      width: 100%;
    }
  }
}
