@import '~assets/scss/variables/base';
@import '~assets/scss/variables/colors';

.tox-tinymce {
  border: none !important;

  .tox-toolbar__primary,
  .tox-edit-area__iframe,
  .tox-statusbar {
    transition: background-color $transition-duration ease;
  }
}

.tox-tinymce--disabled {
  .tox-toolbar__primary,
  .tox-edit-area__iframe,
  .tox-statusbar {
    background-color:  transparent-color($black-20, 0.2) !important;
  }
}
