@import '~assets/scss/variables/base';
@import '~assets/scss/variables/media-breakpoints';

.section-title {
  font-weight: 600;
  margin-left: -7px;
  margin-right: -7px;

  &__container {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
  }

  &__append {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
  }
}

h2.section-title__container {
  font-size: 50px;
  line-height: 120%;

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

h3.section-title__container {
  font-size: 36px;
  line-height: 120%;
  font-weight: 500;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h4.section-title__container {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}

h5.section-title__container {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
}

h6.section-title__container {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

