@import '~assets/scss/variables/base';
@import '~assets/scss/variables/media-breakpoints';

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  &__container {
    flex: 1 1 auto;
    max-width: $container-sm-max-width + ($container-padding * 2);
    padding: $container-padding;
  }
}
