@import '~assets/scss/variables/colors';
@import '~assets/scss/variables/media-breakpoints';

.profile-info {
  &__container {
    padding-left: 80px;
    padding-right: 80px;
  }

  &__divider {
    height: 1px;
    background: $black-100;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__account {

  }

  &__wallets {

  }

  &__save {
    display: flex;
    margin-top: 30px;

    &-btn {
      height: 44px;
      min-width: 170px;
    }
  }

  @include media-breakpoint-down(lg) {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
