$font-primary: 'Formular', sans-serif;

$header-height: 78px;

$container-max-width: 1180px;
$container-lg-max-width: 990px;
$container-md-max-width: 805px;
$container-sm-max-width: 480px;

$modal-sm-max-width: 576px;
$modal-md-max-width: 700px;
$modal-lg-max-width: 914px;
$modal-full-max-width: 100%;

$container-padding: 15px;
$mobile-container-padding: 20px;

$transition-duration: 0.2s;

$line-height: 120%;
