@font-face {
  font-family: 'Formular';
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url('~static/fonts/Formular.eot');
  src: url('~static/fonts/Formular.eot?#iefix') format('embedded-opentype'),
  url('~static/fonts/Formular.ttf') format('truetype'),
  url('~static/fonts/Formular.woff') format('woff'),
  url('~static/fonts/Formular.woff2') format('woff2');
}

@font-face {
  font-family: 'Formular';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url('~static/fonts/Formular-Medium.eot');
  src: url('~static/fonts/Formular-Medium.eot?#iefix') format('embedded-opentype'),
  url('~static/fonts/Formular-Medium.ttf') format('truetype'),
  url('~static/fonts/Formular-Medium.woff') format('woff'),
  url('~static/fonts/Formular-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Formular';
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url('~static/fonts/Formular-Bold.eot');
  src: url('~static/fonts/Formular-Bold.eot?#iefix') format('embedded-opentype'),
  url('~static/fonts/Formular-Bold.ttf') format('truetype'),
  url('~static/fonts/Formular-Bold.woff') format('woff'),
  url('~static/fonts/Formular-Bold.woff2') format('woff2');
}
